# Byte-compiled / db
__pycache__/
db/

cred.json

# Environments
.env
.env.development
.env.production
.env.test
.env.staging

# VSCode settings
.vscode/
.streamlit/

# OS files
.DS_Store
Thumbs.db
*.csv
*.db
sql.py
*.log