# Byte-compiled / optimized / DLL files
__pycache__/
db/

cred.json

# Environments
.env
.env.bak
.env.local
.env.development
.env.production
.env.test
.env.staging


# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
